#flex {
  flex-direction: column;

}

#acme{
  font-size: 20px;
}

body {
  font-family: Arial;
}
.heading {
  padding: 1rem;
  background-color: dodgerblue;
  font-size: 12px;
  display:flex;
  justify-content: space-between;
  color: white;
}
.heading > span.title{
  font-size: 20px;
}

.bold {
  font-weight:bold;
}

.box {
  border: 1px solid black;
  padding: 1rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0, 1rem, 0, 0;
  border-radius: 5px;
}

.newbox {
  display: flex; 
  justify-content: center;

}

label {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom:10px;
}
input {
  width: 50%;
}
.madeUsers {
  margin: 1rem;
  border: 1px solid black;
  padding: 1rem;
  width: 200px;
  display: block;
  /* flex-direction: vertical;
  justify-content: space-around; */
  font-size: 12px;
  text-align: center;
  border-radius:10px;
}

.madeUsers > div.userA {
  margin: 1rem;
  background-color:tomato;
}

.title {
  font-size: 20px;
}

#madeUsersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
